[submodule "bundle/splitjoin"]
	path = bundle/splitjoin
	url = git://github.com/AndrewRadev/splitjoin.vim.git
[submodule "bundle/linediff"]
	path = bundle/linediff
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule "bundle/acp"]
	path = bundle/acp
	url = git://github.com/vimcn/acp.vim.git
[submodule "bundle/nerdtree-tabs"]
	path = bundle/nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "bundle/pythoncomplete"]
	path = bundle/pythoncomplete
	url = git://github.com/mjbrownie/pythoncomplete.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git://github.com/Vladimiroff/vim-sparkup.git
[submodule "bundle/pylint"]
	path = bundle/pylint
	url = git://github.com/vim-scripts/pylint.vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/xoria256"]
	path = bundle/xoria256
	url = git://github.com/vim-scripts/xoria256.vim.git
[submodule "bundle/inline_edit"]
	path = bundle/inline_edit
	url = git://github.com/AndrewRadev/inline_edit.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/corntrace/bufexplorer.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/tabman"]
	path = bundle/tabman
	url = git://github.com/kien/tabman.vim.git
[submodule "bundle/pony"]
	path = bundle/pony
	url = git://github.com/rainerborene/vim-pony.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/pysmell"]
	path = bundle/pysmell
	url = git://github.com/webframp/pysmell.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "bundle/trailing-whitespace"]
	path = bundle/trailing-whitespace
	url = git://github.com/bronson/vim-trailing-whitespace.git
[submodule "bundle/nyancat"]
	path = bundle/nyancat
	url = git://github.com/koron/nyancat-vim.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/notes"]
	path = bundle/notes
	url = git://github.com/xolox/vim-notes.git
[submodule "bundle/tmux"]
	path = bundle/tmux
	url = git://github.com/qqshfox/vim-tmux.git
[submodule "bundle/go"]
	path = bundle/go
	url = git://github.com/AndrewRadev/go-vim.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = git://github.com/tristen/vim-sparkup.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/whitespaste"]
	path = bundle/whitespaste
	url = git://github.com/AndrewRadev/whitespaste.vim.git
[submodule "bundle/switch"]
	path = bundle/switch
	url = git://github.com/AndrewRadev/switch.vim.git
