# All tags files, just remember to rebuild them every once in a while:
tags
doc/tags
doc/tags-*

# Bundles, since vim-plug is taking care of them
plugged/

# NeoVim's init.vim
init.vim

# File backups
backups/

# Persistent undo directory
undodir/

# Spell files
spell/

# gocode symlinks this to ~/.vim/plugged/gocode/vim/autoload/gocomplete.vim
autoload/gocomplete.vim

.netrwhist
