# Ignore all tags files, just remember to rebuild them every once in a while:
tags
doc/tags
doc/tags-*

# Ignore bundles, since vim-plug is taking care of them
plugged/

# Ignore neovim's init.vim
init.vim

.netrwhist
