# All tags files, just remember to rebuild them every once in a while:
tags
doc/tags
doc/tags-*

# Bundles, since vim-plug is taking care of them
plugged/

# NeoVim's init.vim
init.vim

# Vim's file backups
backups/

# Spell files
spell/

.netrwhist
